<!DOCTYPE html>
<html>
    <head>
        <title>Bitify</title>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="description">
        <meta content="@ThamaraHessel" name="author">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="container " >
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a href="#!/" class="navbar-brand">
                            <img src="/img/bitcoin_icon.png" style="height: 40px; width: auto;"/>
                            <div>Bitify</div>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" >
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="#!/">Quem Somos</a>
                            </li>
                            <li class="">
                                <a href="#!/">Faça parte</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container bottom-fix" ng-view>

        </div>
        <footer>
            <nav class="navbar navbar-inverse navbar-bottom">
                <div class="navbar-inner navbar-content-center">
                    <div class="container " >
                        <div class="footer-div-center">We <span>♥</span> Bitcoins. <strong>Bitify</strong> - 2014</div>
                    </div>
                </div>
            </nav>
        </footer>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/js/bundle.js"></script>
    </body>
</html>
