<div class="modal-header">
    <h3 class="modal-title">Selecione o serviço para login</h3>
</div>
<div class="modal-body">
    <iframe ng-src="url" ng-show="url"></iframe>
    <div class="row" ng-hide="url">
        <div class="col-md-4">
            <img src="/img/twitter.png" ng-click="url = '/api/v1/auth/twitter'">
        </div>
        <div class="col-md-4">
            <img src="/img/facebook.png" ng-click="url = '/api/v1/auth/twitter'">
        </div>
        <div class="col-md-4">
            <img src="/img/googleplus.png" ng-click="url = '/api/v1/auth/twitter'">
        </div>
    </div>
</div>
